
/*Basline for all pages and index page*/


html {
	min-height: 100%;
	max-width: 100%;
	
}

@media screen and (max-width: 1200px) {

	
}
 



body {
	background-image: linear-gradient(to bottom, rgba(255, 75, 10, 1.00), rgba(255, 75, 10, 0.1));
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: auto;
}


.main-title    {
	display:flex;
	justify-content:center;
	margin: 2em 0 2em 0;
	font-size: 2em;
}


.title-link {

	color: black;
}



.title-link:hover {
	color: gray;
}

#all {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
	
	
	//box-shadow: gray 4px 4px;
}
 

//This refers to the elements inside. The text
.main-blocks  {
	display: inline-flex;
	justify-content:center;
	background-color: rgba(25,25,24,1.0);
	min-width: 10em;
	max-width: 10em;
	height: 12em;
	align-items: center;
	border: 0.3em solid white;
	border-radius: 6px;
	color: white;
	font-size: 2em;
	margin: 0 1em 2em 0
}







#main-arrow {
	display: flex;
	
	position:absolute;
	
	left: 13em;
	
	
	
}


.arrow {
	font-size: 2em;
	display: flex;
	padding: 0em 2em 12em 2em;
	width: 9em;
	margin: 0 0 6em 2em;
	//background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	height: 2em;
}






 a:link {

	text-decoration:none;
}


.main-blocks:hover {
	filter: drop-shadow(6px 6px 6px #29114F)
}



/*Media queries for main pages and index page*/


@media screen and (max-width: 800px) {

	#all {
		min-height: 50%;
	}
}



@media screen and (max-width: 800px) {

	.main-blocks {
		min-width: 25%;
		min-height: 50%;
		font-size: 0.8em;
	}
}

//////////////////////////////////////////////////
/////////////////////////////////////////////////


/*Footer and its queries*/





@media screen and (max-width: 800px) {

	.main-blocks {
		min-width: 25%;
		min-height: 50%;
		font-size: 0.8em;
	}
}

//////////////////////////////////////////////////
/////////////////////////////////////////////////


/*Footer and its queries*/



#main-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	align-items: center;
	background: black;
	padding: 3em
}




.footer-item {
	display: inline-flex;
	align-content: center;
	color: white;
	margin: -1em 4em 0 2em;
	padding-left: 4rem;
	
}


/*Media query por el pie*/

@media screen and (max-width: 1200px) {

	.footer-item {
		margin: 0.5em;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 1200px) {

	#main-footer {
		display: inline-flex;
		padding: 2rem 0 2rem 0rem;
	}
}


.footer-item:last-child {
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 0.8em;
	min-width:3ch;
}




//////////////////////////////////////
//////////////////////////////////////









/*"THIS IS DREAMHACK" page starts here*/

.dreamhack-main {

	font-size: 1.5em;
	padding:4em 0 3em 0;
	margin: 0em 0 6em 4em;
	width: 50ch;

}

@media screen and (max-width: 1200px) {

	.dreamhack-main {
		width: 30ch;
		margin-bottom: 10em;
	}
}






/*Pictures*/



.picture-esl {
	position: absolute;
	top: 48em;
	right: 20em;
}

.picture-dh {
	position: absolute;
	top: 56em;
	right: 10em;
}


.picture-shelf {
	position: absolute;
	right: 2em;
	top: 60rem;
	box-shadow: 3px 3px 6px black;
	border: solid rgb(43, 33, 33) 3px;


}

@media screen and (max-width: 1500px) {

	.picture-esl {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-top: 20em;
	}
}



@media screen and (max-width: 1500px) {

	.picture-dh {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 0em 10em 5em;
	}
}













	//////////////////////////////////////////////////////
	//////////////////////////////////////////////////////







	/*Dreamhack info doc*/





/*First list (div) */

#pack-block {
	display: inline-block;
}




.dreamhack-info {
	background: #E67553;
	border-radius: 10px;
	width: 35em;
	margin: 0 0 3em 2em;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 2em 0;
	filter: drop-shadow(4px 4px 3px black)
}

.list-essentials-header {
	padding-left: 0.6em;
}

/*Header in section (packing list)*/
.dreamhack-info h2 {
	background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	border-radius: 6px 6px 0 0;
	padding: 0.5em 0 1.2em 0.5em;
	color: white;
	filter: drop-shadow(2px 2px 3px black)
}







/* Second list (extras section)*/

.dreamhack-info-second {
	background: #E67553;
	border-radius: 10px;
	width: 35em;
	margin: 0 0 10em 2em;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 2em 0;
	filter: drop-shadow(4px 4px 3px black);
	font-size: 1.2em;
	padding: 0 0 5em 0;
}



.list-extras-header {
	padding-left: 0.6em;
	background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	border-radius: 6px 6px 0 0;
	padding: 0.5em 0 1.2em 0.5em;
	color: white;
	filter: drop-shadow(1px 1px 2px black)
}












	////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////




/*LATEST NEWS*/





.seatmap-header {
	padding: 0 0 0.5em 1.4em;

	
}

.seatmap-header-artist {
	padding: 0 0 0.5em 1.2em;

	
}


.seatmap {

	margin: 0 0 10em 1em;
	border: solid black 2px
}

.seatmap:hover {
	filter:drop-shadow(3px 3px 3px purple)
}